body {
  font: 20px 'Jua', sans-serif, Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none;
  font-size: 20px;
  
}
input,
option,
select {
  font: 20px 'Jua', sans-serif, Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.hidden {
  display: none !important;
}

nav {
  background-color: aquamarine;
  font-size: 48px;
  text-align: center;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 1em;
}
.signup-form,
.login-form{
  width: 500px;
  height: auto;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top : 10%;
  text-align: center;
}
.signup-form span,
.login-form span{

  display: inline-block;
  width: 40px;
  margin-top: 5px;
  
}
.signup-form input,
.login-form input{
  border:none;
  border-bottom: 2px solid black;
  width: 180px;
  margin-left: 5px;
  margin-bottom: 15px;
}
.signup-form.header,
.login-form .header{
  margin: 10px;
}
.signup-form .signup-btn,
.signup-form .signup-cancel-btn,
.login-form .login-btn{
  width: 40%;
  margin:2px;
  height: 40px;
  font-size: 24px;
  font-family: inherit;
  border: none;
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: aquamarine;
}

.signup-cancel-btn{
  background-color: tomato !important;
}

div{
  animation: slide-up 0.5s ease;
}

.month {
  text-align: center;
  font-size: 24px;
}
.current-month {
  margin: 5 0 0 0;
}
.prev-month-btn:hover,
.next-month-btn:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.next-month-btn:after {
  content: '';
  background: #1abc9c;
  opacity: 0;
  transition: all 0.8s;
}
.prev-month-btn:active:after,
.next-month-btn:active:after {
  opacity: 1;
  transition: 0s;
}
.prev-month-btn:focus,
.next-month-btn:focus {
  outline: 0;
}

.prev-month-btn,
.next-month-btn {
  border: none;
  margin: 15px;
  background: none;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 5px;
  transition-duration: 0.4s;
  box-shadow: 0 2px 5px #193047;
}
.menu-bar {
  width: 650px;
  margin: auto auto 50 auto;
  display: flex;
  justify-content: center;
  border-radius: 2em;
  background: rgba(0, 0, 0, 0.1);
}
.menu-bar a{
  font-size: 30px;
}
.menu-bar ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.menu-bar ul li {
  list-style: none;

  padding: 0px;
  width: 175px;
  text-align: center;
  border-right: 2px solid black;
}
.menu-bar ul :last-child {
  border-right: none;
}
.menu-bar div[class|='menu']:hover {
  background-color: whitesmoke;
}

.menu-bar div[class|='menu'] {
  text-align: center;
  margin: 0 5 0 5;
  border-radius: 2em;
}
.content-add-form {
  margin: auto;
  width: 900px;
  margin-bottom: 10px;
}
.form-btns-list button{
  font-size: 20px;
  font-family: inherit;
  border: none;
  margin-left: 10px;
}
.category-type-toggle{
  border: none;
  font-family: inherit;
  font-size: 20px;
  margin-right: 10px;
  
}

.content-add-form .row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.content-add-form input[type='text'] {
  border: none;
  border-bottom: 1px solid black;
}
.content-add-form input[name='amount'] {
  width: 40%;
}
.content-add-form input[name='content'] {
  width: 40%;
}
.content-add-form .add-btn,
.content-add-form .modify {
  width: 100%;
  border: none;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  background-color: aquamarine;
}
.content-add-form .modify{
  background-color: lightskyblue;
}
/* 카테고리의 분류 (수입 지출) */
.category-type .selected {
  background-color: aquamarine;
}

.category-type-filter {
  margin: auto;
  width: 900px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.category-type-filter div {
  margin-left: 30%;
  margin-right: 5%;
}
.category-type-filter .category-income {
  color: #00b7ff;
}
.category-type-filter .category-expenditure {
  color: red;
}

.field-income,
.field-expenditure {
  width: 250px;
  text-align: right;
  display: inline-block;
}

.history-list {
  margin: auto;
  width: 900px;
  min-height: 900px;
}

.record .row {
  display: flex;
  z-index: 1;
  justify-content: space-around;
  font-size: 20px;
}
.record .header {
  color: black;
  background-color: rgba(127, 255, 212, 0.63);
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.record .header .record-day {
  margin: auto;
  width: 30%;
  text-align: left;
}
.record .header .day-income {
  margin: auto;
  width: 30%;
  text-align: right;
  color: cornflowerblue;
}
.record .header .day-expenditure {
  margin: auto;
  width: 30%;
  text-align: right;
  color: tomato;
}
.record .content-row {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

/* hover시 배경색 변경 */
.record .content-row:hover{
  background: aquamarine;
  opacity: 0.8;
}

/*  hover시 나타나는 수정 버튼 div */
.record .modify-row{
  position: absolute;
  z-index: 5;
}

.modify-row .modify-btn{
  width: inherit;
  height: 50px;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom:15px;
  font-family: inherit;
  border: none;
  border-radius: 0.5em;
  background-color: rgb(0, 255, 191);
}


.record [class|='category-type'] {
  border: none;
  border-radius: 2em;
  width: 125px;
  color: white;
  text-align: center;
}
.record .category-type-income {
  background-color: cornflowerblue;
}
.record .category-type-expenditure {
  background-color: tomato;
}
.content-row .content {
  text-align: left;
  width: 20%;
}
.content-row .amount {
  text-align: right;
  width: 20%;
  margin-left: 50px;
}
